<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>$(API_URL)</string>
	<key>BUGFENDER_KEY</key>
	<string>$(BUGFENDER_KEY)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1826133531585471~7457371192</string>
	<key>GOOGLE_BANNER_UNIT_ID</key>
	<string>$(GOOGLE_BANNER_UNIT_ID)</string>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
</dict>
</plist>
